body 
{
  background-color: black;
  font-family: arial, sans-serif;
  color: white;
}
h1
{
  color: grey;
  font-family: verdana, sans-serif;
}
label
{
  display: inline-block;
  margin-left: 80px;
  width: 120px;
}
button
{
  margin-left: 80px;
}
#result
{
  margin-left: 80px;
  display: inline-block;
}
.maindiv
{
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
}
